@import '/node_modules/flowbite-vue/dist/index.css';

$mobile: 378px;
$mobile-large: 425px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1440px;
$desktop-fhd: 1920px;

$black: #000;
$white: #fff;

$ciano-green: #E9EFF6;
$ciano: #0091B7;
$gray: #969696;

*{
	font-family: 'Space';
}
h1{
	font-family: "Noticia Text", serif;
	font-size: 2.5rem !important;
	text-align: center;
	margin: 15px 0;
}
